
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-2 col-lg-2">
        <img src="../../../assets/walter.png" class="img-fluid" alt="Walter Liendo" title="Wal" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-8 col-md-2 col-lg-2">
        <br>
        <h3 id="nombre">Walter Liendo</h3>
        <p id="titulo"><b>Full-Stack Developer Jr</b></p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1 >Acerca de mí</h1>
            <p id="parrafo">Soy una persona emprendedora, y con mucha experiencia en el rubro hotelero y atención al cliente. He trabajado en hoteles de lujo en Argentina y Estados Unidos. Mi meta es poder crear, con mis conocimientos, herramientas que puedan servirles de forma eficiente a los diferentes sectores de empresas o Pymes que interactuan con el público en general. </p>
        </span>
    </div>