img {
 width: 180px;
 box-shadow: 3px 3px 3px rgb(243, 231, 66);
 margin-top: -160px;
 margin-left: 15px;
}

.row {
color:black;
text-align:center;
background-color: #00358e;
margin-top: 280px;
display: grid;
grid-template-columns: repeat (3, 1fr);
}

.row .foto {
    grid-column: 1;
}
.row .titulo {
    grid-column: 2;
}
.row .acercade {
    grid-column: 3;
}

#nombre {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #ffff;
    font-weight: lighter;
   text-shadow: 4px 4px 8px #1f2020;
}


#parrafo {
    color: #ffff;
    margin-right: 25px;
    text-align: center;
}

@media screen and (max-width: 800px) {
    .row{
        display: block;
    }
    #parrafo {
        margin-left: 10px;
    }
    
#fotodeperfil {
    border-radius: 50% 50% 50% 50%;
}

}