img {
 width: 200px;
 box-shadow: 3px 3px 3px rgb(243, 231, 66);
 margin-left: 25px;
 margin-top: -80px;
}

.row {
color:black;
text-align:center;
background-color: #00358e;
margin-top: 280px;
}

#nombre {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #ffff;
    font-weight: lighter;
   text-shadow: 4px 4px 8px #1f2020;
}

.span {
    margin-right: 10px;
}

#parrafo {
    color: #ffff;
    margin-right: 20px;
    text-align: center;
}

@media (min-width: 576px) {
    #fotodeperfil{
       width: 15%;
       position:absolute;
       margin-left: 20px;
       margin-top: -200px;
       display: flex;
      
    }
}
@media (max-width: 575px) {
    #fotodeperfil{
        width: 120px;
        border-radius: 50%;
        position: absolute;
        margin-top: -190px;
        margin-left: -60px;
}
}
