<div class="row">
    <h1>Proyectos</h1>
    <div class="col-sm-12 col-md-7 col-lg-7 parte1">
        <h1><b>AYS</b> - At your Service</h1>
        <p>AYS es un programa confeccionado con el fin de cumplir con los standares de servicio de un Hotel de lujo. Con
            AYS se puede llevar un registro exacto de pedidos realizados por el huesped, pudiendo hacerle seguimiento a
            los pedidos, y corroborando el cumplimiento de los mismos. Usted puede llevar un historial de servicios
            consumidos, hacer estadisticas, y controlar stock de los amenities consumidos. </p>
    </div>
    <div class="col-sm12 col-md-3 col-lg-3 offset-md-1">
        <img src="../../../assets/ays.png" alt="AYS" width="300px">
    </div>
    <br>
    <div class="col-sm-12 col-md-7 col-lg-7 parte1">
        <h1><b>MAINERO</b> - Maquinarias Agrícolas</h1>
        <p>La línea más completa de equipos para la cosecha, reserva y distribución de forrajes de América Latina con
            repuestos legítimos y servicio Post-venta. </p>
    </div>
    <div class="col-sm12 col-md-3 col-lg-3 offset-md-1">
        <img src="../../../assets/mainero.png" alt="AYS" width="300px">
    </div>
</div>