.row {
    padding: 20px;
    margin-left: 12px;
    margin-right: 12px;
    background: radial-gradient(circle,#fff, #bbb );
    display: inline-block;
}
.img {
   text-align: center;

}
#foto1,#foto2 {
   box-shadow: 10px 10px 30px #000000;
}
