.row {
    background-color: rgb(240, 241, 245);
    padding: 10px;
    margin-left: 12px;
    margin-right: 12px;
}
/*
@media screen and (max-width:800px) {
    display: flex;
    flex-wrap: wrap;
    wrap-direction: columns;
    align-items: center;
}*/