<div class="row">
    <div>
        <h1><u>Experiencia laboral</u></h1>
        <div class="col-lg-11">
            <ul>
                <li><h2>Trabajo1</h2> - <h3>(años-   )</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse eum magni voluptatem a ut dolore facere magnam, sed voluptatibus doloremque eius autem minus quis numquam, ducimus saepe quas? Accusantium, quia.
                </p></li>
            </ul>
            <ul>
                <li><h2>Trabajo1</h2> - <h3> años</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse eum magni voluptatem a ut dolore facere magnam, sed voluptatibus doloremque eius autem minus quis numquam, ducimus saepe quas? Accusantium, quia.
                </p></li>
            </ul>
            <ul>
                <li><h2>Trabajo1</h2> - <h3> años</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse eum magni voluptatem a ut dolore facere magnam, sed voluptatibus doloremque eius autem minus quis numquam, ducimus saepe quas? Accusantium, quia.
                </p></li>
            </ul>
            <ul>
                <li><h2>Trabajo1</h2> - <h3> años</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse eum magni voluptatem a ut dolore facere magnam, sed voluptatibus doloremque eius autem minus quis numquam, ducimus saepe quas? Accusantium, quia.
                </p></li>
            </ul>
        </div>
    </div>
</div>>