.container {
    display: flex;
    justify-content:space-between;
    align-items: center;
}

#logoAP {
width: 160px;

}
img {
    width: 35px;
    border-color: 10px black;
}

.logo {
    display: inline-flex;
}
h4 {
    margin-top: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size: medium;
}
.redes {
    margin-inline: 30px;
}
.redes img {
    margin: 0.5em;
}
@media screen and (max-width: 800px) {
    .row{
        display: block;
    }}