<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo-20-20.png" alt="Argentina Programa" id="logoAP">
            <h4>{{title}}</h4>
        </div>
        <div class="redes">
            <a href="https://www.instagram.com/walterliendook/" target="_blank" rel="noopener"><img
                    src="../../../assets/insta.png" title="Instagram"></a>
            <a href="https://www.facebook.com/walterliendook/" target="_blank" rel="noopener"><img
                    src="../../../assets/face.png" title="Facebook"></a>
            <a href="https://www.linkedin.com/in/walter-liendo-7204b854" target="_blank" rel="noopener"><img
                    src="../../../assets/linkedin.png" title="Linkedin"></a>
            <a href="https://github.com/Walter185" target="_blank" rel="noopener"><img src="../../../assets/github.png"
                    title="Github"></a>
            <a href="https://twitter.com/walterliendook" target="_blank" rel="noopener"><img
                    src="../../../assets/Twitter.png" title="Twitter"></a>
            <button type="button" class="btn btn-outline-info">INGRESO</button>
        </div>
    </div>
</div>