
<div>
    <a href="https://www.instagram.com/walterliendook/"><img src="../../../assets/insta.png" title="Instagram"></a>
    <a href="https://www.facebook.com/walterliendook/"><img src="../../../assets/face.png" title="Facebook"></a>
    <a href="https://www.linkedin.com/in/walter-liendo-7204b854"><img src="../../../assets/linkedin.png" title="Linkedin"></a>
    <a href="https://github.com/Walter185"><img src="../../../assets/github.png" title="Github"></a>
    <a href="https://twitter.com/walterliendook"><img src="../../../assets/Twitter.png" title="Twitter"></a>
    <br><br>
</div>
